body {
    padding: 0;
    margin: 0;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #AFDA9F;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    top: 60px;
    left: 15px;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #212228;
    background-image: linear-gradient(#292a30 .1em, transparent .1em),
        linear-gradient(90deg, #292a30 .1em, transparent .1em);
    background-size: 4em 4em;
}

form {
    background-color: #eee;
    width: max-content;
    padding: 5px;
    margin: 10px 130px;
    border-radius: 24px;
    display: flex;
    gap: 10px;
}

form input,
button {
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: large;
    cursor: pointer;
}

form input::-webkit-color-swatch-wrapper {
    padding: 0;
}

form input::-webkit-color-swatch {
    border-radius: 50%;
}

.list textarea {
    all: unset;
    color: #d6d6d6;
}

.list .note {
    background-color: #333;
    width: max-content;
    border-top: 30px solid #e6b905;
    border-radius: 10px;
    box-shadow: 0 20px 50px #0004;
    padding: 10px;
    position: absolute;
    top: 60px;
    left: 130px;

}

.list .note span {
    position: absolute;
    bottom: 100%;
    right: 0;
    height: 30px;
    font-family: cursive;
    font-size: large;
    padding-right: 10px;
    cursor: pointer;
}